<section class="card">
  <a href="/product/{{id}}">
    <header>{{product_name}}</header>

    <div class="card-body">
      <img src="/images/{{image_source}}" >
      <p>{{description}}"</p>
      <p>In stock:{{stock}}</p>
      <p>Price $:{{price}}</p>
    </div>
  </a>
</section>